<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.HKSHOPU.hk">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 網路相關 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 文件讀寫 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.HKSHOPU.hk.application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="com.HKSHOPU.hk.ui.user.activity.TermsOfServiceActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name="com.HKSHOPU.hk.ui.user.activity.NewPasswordActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name="com.HKSHOPU.hk.ui.user.activity.LoginPasswordActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->

        <activity android:name="com.HKSHOPU.hk.ui.user.activity.RetrieveEmailVerifyActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name="com.HKSHOPU.hk.ui.LaunchActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.HKSHOPU.hk.ui.user.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" />
        <activity
            android:name="com.HKSHOPU.hk.ui.user.activity.AddressEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/facebook_app_id"
                    tools:ignore="ManifestResource" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.HKSHOPU.hk.ui.user.activity.BuildAccountActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.user.activity.UserIofoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.user.activity.EmailVerifyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.user.activity.MailAddressActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.OnBoardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

<!-- Shop -->
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.ShopmenuActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.AddShopActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.AddBankAccountBeforeBuildedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.AddBankAccountAfterBuiledctivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.AddShopAddressBeforeBuildActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.AddShopAddressAfterBuildedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.ShopCategoryForAddShopActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.ShopCategoryForEditShopActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.ShopInfoModifyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.AddShopBriefActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.AccountSetupActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.ShopAttentionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.ShopEvaluationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.AdvertisementActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.ShopAddressListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.ShopAddressPresetActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.ShopNameEditActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.BankListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.BankPresetActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.ShopNotifyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
<!-- Product -->
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.ShopPreviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.ShopIncomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.PhoneEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" />
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.EmailAddBeforeIdentifyingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" />
        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.EmailAddAfterIdentifyingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" />

        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.SocialAccountSetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" />
<!-- Product -->
        <activity android:name="com.HKSHOPU.hk.ui.main.productSeller.activity.AddProductCategoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.HKSHOPU.hk.ui.main.productSeller.activity.EditMerchanCategoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.HKSHOPU.hk.ui.main.productSeller.activity.ProductDetailForSalerActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.productSeller.activity.AddNewProductActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.HKSHOPU.hk.ui.main.productSeller.activity.AddProductSpecificationMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.HKSHOPU.hk.ui.main.productSeller.activity.AddInventoryAndPriceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
<!--        <activity android:name=".ui.main.product.activity.AddInventoryAndPriceOldActivity"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:windowSoftInputMode="adjustPan"/>-->
        <activity android:name="com.HKSHOPU.hk.ui.main.productSeller.activity.AddShippingFareActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.HKSHOPU.hk.ui.main.productSeller.activity.EditProductActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.HKSHOPU.hk.ui.main.productSeller.activity.EditProductSpecificationMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.HKSHOPU.hk.ui.main.productSeller.activity.EditInventoryAndPriceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
<!--        <activity-->
<!--            android:name=".ui.main.product.activity.EditInventoryAndPriceOldActivity"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:windowSoftInputMode="adjustPan" />-->
        <activity
            android:name="com.HKSHOPU.hk.ui.main.productSeller.activity.EditShippingFareActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" />
        <activity
            android:name="com.HKSHOPU.hk.ui.main.productSeller.activity.MyProductManagmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" />

        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.LogisticListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" />

        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.HelpCenterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" />

        <activity
            android:name="com.HKSHOPU.hk.ui.main.shopProfile.activity.MySalesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" />

        <activity
            android:name="com.HKSHOPU.hk.ui.main.productBuyer.activity.ProductDetailedPageBuyerViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" />

        <activity
            android:name="com.HKSHOPU.hk.ui.main.shoppingCart.activity.ShoppingCartEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" />

        <activity
            android:name="com.HKSHOPU.hk.ui.main.shoppingCart.activity.ShoppingCartConfirmedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" />

        <activity
            android:name="com.HKSHOPU.hk.ui.main.shoppingCart.activity.ShopAddressListForShoppingCartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" />

        <activity
            android:name="com.HKSHOPU.hk.ui.main.shoppingCart.activity.AddBuyerAddressForShoppingCartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>